modules = ["python-3.11", "nodejs-20", "python3", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["bluez", "cairo", "cargo", "catch2", "ffmpeg-full", "fmt", "fontconfig", "freetype", "geos", "ghostscript", "glib", "glibcLocales", "gobject-introspection", "gtk3", "harfbuzz", "hdf5", "libgcc", "libiconv", "libjpeg_turbo", "liblsl", "libpng", "libxcrypt", "muparserx", "nlohmann_json", "ocl-icd", "oneDNN", "opencl-headers", "openssh", "openssl", "pango", "pkg-config", "pyright", "qhull", "re2", "ruff", "rustc", "spdlog", "tcl", "tk", "which", "xsimd", "yajl"]

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "python async_gateway.py"]

[agent]
integrations = ["perplexity_v0:1.0.0", "python_anthropic_ai_integrations:1.0.0", "python_openai_ai_integrations:1.0.0", "web_scraper:1.0.0", "youtube:1.0.0", "github:1.0.0", "stripe:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discovery_scheduler"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ti_website"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "gsa_daily_scheduler"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "hypercomputer"

[[workflows.workflow]]
name = "discovery_scheduler"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -c \"from autonomous_research_scheduler import start_background_research; import time; start_background_research(); exec('while True: time.sleep(60)')\""

[[workflows.workflow]]
name = "ti_website"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python async_gateway.py"
waitForPort = 5000

[[workflows.workflow]]
name = "gsa_daily_scheduler"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python gsa_daily_scheduler.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "hypercomputer"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run hypercomputer_app.py --server.port 8000 --server.headless true"

[userenv]

[userenv.shared]
client_secret = "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"
client_id = "584975588599-ffdf519vi5hllcu45cov9h8dob6fn69r.apps.googleusercontent.com"
"TI Sigma Upload" = "c9WBsIKnXLUmSWA3eHQzaLdx3YS7HygZgw75jheWExaWtFWln5BccQw4pIUf"
IBMQ_Secret = "ibmcloud login -a https://cloud.ibm.com -u passcode -p ASsscEdma4"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
